@import "tailwindcss";
@import "tw-animate-css";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8a5cf6ad;
  background: color-mix(in oklch, currentColor 10%, #8a5cf6ad);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
